---
layout: layout
title: Ruby Nicaragua
---

    <section id="learn" class="content-section text-center">
        {% include learn-section.html %}
    </section>
    <hr />
    <section id="join" class="content-section">
        {% include join-section.html %}
    </section>
    <hr />
    <section id="blog" class="content-section text-center">
        {% include blog-section.html %}
    </section>
    <hr />
    <section id="thanks" class="content-section text-center">
        {% include thanks-section.html %}
    </section>
    <hr />
    <section id="credits" class="content-section text-center">
        {% include credits-section.html %}
    </section>







