<h1 class="lead text-center">Aprende Ruby!</h1>

<p>En la web abundan los recursos para aprender a programar en Ruby, además Ruby cuenta con una vibrante comunidad alrededor del mundo, abiertos a compartir sus conocimientos y brindarte ayuda. A continuación una lista algunos recursos gratuitos con los que puedes iniciar:</p>

<div class="row">
    <div class="col-md-6">
        <h6 class="text-center">En Español</h6>

        <ul>
          <li><a href="http://rubysur.org/aprende.a.programar/" target="_blank">Aprende a programar con Ruby</a></li>
          <li><a href="http://rubysur.org/introduccion.a.rails/" target="_blank">Introducción a Rails</a></li>
        </ul>
    </div>
    
    <div class="col-md-6">
      <h6 class="text-center">En Inglés</h6>
      
      <ul>
        <div class="col-md-4">
                <li><a href="https://www.codecademy.com/learn/learn-ruby" target="_blank">Codecademy</a></li>
                <li><a href="http://rubykoans.com/" target="_blank">Ruby Koans</a></li>
                <li><a href="http://rubymonk.com/" target="_blank">Ruby Monk</a> </li>
                <li><a href="http://github.com/bbatsov/ruby-style-guide" target="_blank">Ruby Style Guide</a></li>
            </div>
            <div class="col-md-4">
                <li><a href="http://rubyforwebdesigners.com" target="_blank">Ruby for Web Designers</a></li>
                <li><a href="https://gorails.com" target="_blank">Go Rails</a> </li>
                <li><a href="http://www.codelearn.org/ruby-on-rails-tutorial" target="_blank">CodeLearn</a></li>
                <li><a href="http://www.rubytapas.com/" target="_blank">Ruby Tapas</a></li>
              </div>
              <div class="col-md-4">
                <li><a href="http://railscasts.com/" target="_blank">Railscasts</a></li>
                <li><a href="https://www.railstutorial.org/book" target="_blank">Ruby On Rails Tutorial </a></li>
                <li><a href="https://www.theodinproject.com/tracks/1" target="_blank">Odin Project</a></li>
            </div>
        </ul>
    </div>

</div>