      <meta name="author" content="Ruby Nicaragua" />
      <meta name="description" content="Somos la comunidad de Ruby en Nicaragua interesados en compartir conocimientos, enseñar y promover Ruby." />

      <!-- Google+ -->
      <meta itemprop="name" content="Ruby Nicaragua"> 
      <meta itemprop="description" content="Comunidad de usarios de Ruby "> 
      <meta itemprop="image" content=" http://www.example.com/image.jpg">

      <!-- Twitter --> 
      <meta name="twitter:title" content="Ruby Nicaragua"> 
      <meta name="twitter:description" content="Comunidad de usuarios Ruby de Nicaragua"> 
      <meta name="twitter:image" content="/assets/images/ruby_logo.png">

      <!-- Facebook --> 
      <meta property="og:title" content="Ruby Nicaragua" /> 
      <meta property="og:type" content="article" /> 
      <meta property="og:url" content="http://rubyni.com" />
      <meta property="og:image" content="/assets/images/ruby_logo.png" />
      <meta property="og:description" content="Somos la comunidad de Ruby en Nicaragua, organizamos actividades, cursos y reuniones para promover el uso de Ruby." /> 
      <meta property="og:site_name" content="RubyNi" /> 

      <!-- Google Analytics --> 
      <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38579418-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
