<p class="text-center lead">
    ¡<b>Bienvenido</b> a la comunidad de <b>Ruby Nicaragua</b>!
</p>

<div id="logo">
    <a href='/' alt='{{ page.title }}' >
        <img src='/assets/images/ruby_nicaragua_logo.svg' alt='Ruby' class="img-responsive logo" />
    </a>
</div>

<div class="row">
<div class="col-md-12">
    <div class="jumbotron welcome">

        <div class='lead text-center'>

            <p>
                Ruby es un lenguaje de programación dinámico y de código abierto, enfocado en la simplicidad y productividad. Su elegante sintaxis se siente natural al leerla y fácil al escribirla. Es muy popular para el desarrollo web gracias a grandiosos y aclamados frameworks como <a href="http://rubyonrails.org"  target="_blank">Ruby on Rails</a> y <a href="http://sinatrarb.com"  target="_blank">Sinatra</a>.
            </p>

        </div>


    </div>

</div>
</div>