body {
  background-color: #E3E1DC;
  color: #333;
  font-family: helvetica-neue, helvetica, verdana, arial, san-serif;
}

a { 
  color: #981A21;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  background: #981A21;
  /*border-top: 12px solid #981A21;*/
  padding: 20px 0;
}

nav.menu {  
  background: #F5F5F5;
  font-size: 16px;
  margin-bottom: 20px;
}

nav.menu ul {
  list-style: none;
  margin-top: 20px;
}

nav.menu ul li {
  display: inline-block;
}

nav.menu ul li a {
  display: block;
  padding:10px;
}

.bienvenida {
  font-size: 20px;
}

.footer {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 20px;
  color: #888;
}

.pull-left { float: left; }
.pull-right { float: right; }

.recent-post {
font-size: 16px;
background-color: white;
border-bottom: 5px solid #eee;
padding-bottom: 10px;
}

.recent-post .date {
  font-size: 12px;
}

.recent-post .tags {

  color: #fff;
  background: -webkit-linear-gradient(rgb(231, 40, 23), rgb(77, 3, 3));
  font-size: 130%;
  font-size: 83%;
  border-bottom: 1px solid rgb(78, 13, 13);
  border-left: 1px solid rgb(71, 8, 8);
  border-right: 1px solid rgb(53, 19, 19);
  font-family: 'Droid Sans', Verdana, Arial, sans-serif;
  list-style-type: disc;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;

}

.content {
  font-size: 20px;
}


