body {
  width: 100%;
  height: 100%;
  /*font-family: helvetica-neue, helvetica, verdana, arial, san-serif;*/
  font-family: 'Open Sans Condensed', Trebuchet, sans-serif;
  color: #333;
  background-color: rgba(227, 225, 220, 0.35);
}

html {
  width: 100%;
  height: 100%;
}


a { 
  color: #981A21;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

header {
  /*background: #981A21;*/
  margin-bottom: 15px;
}

nav.menu {  
  background: #F5F5F5;
  font-size: 16px;
  margin-bottom: 20px;
}

nav.menu ul {
  list-style: none;
  margin-top: 20px;
}

nav.menu ul li {
  display: inline-block;
}

nav.menu ul li a {
  display: block;
  padding:10px;
}

.bienvenida {
  font-size: 20px;
  background: #f5f5f5;
  padding: 25px 20px;
  margin-bottom: 20px;
}

.recent-post {
  padding-bottom: 10px;
}

section.contraste {
  padding-top: 20px;
  /*border-top: 1px dashed #aaa;*/
  /*border-bottom: 1px dashed #aaa;*/
  /*background: #CA3A38;*/
  /*background: #fff;*/
}

.recent-post .date {
}

.recent-post .tags {
  border-radius: 3px;
  background: #A39A99;
  color: #fff;
  padding: 2px 4px;
  font-size: .8em;
}

.post {
padding-top: 75px;
}

.post .titulo h1 {
  border-bottom: 1px solid #ccc;
  margin-bottom: 0;
}

.post .titulo {
  margin-bottom: 20px;
}

.post .titulo .date {
  font-size: .9em;
}

.pull-left { float: left; }
.pull-right { float: right; }

.content {
  background: #fafafa;
  padding: 20px;
}

section.contraste_odd {
  padding-top: 20px;
  /*background: url(/assets/images/ps_neutral.png) #f5f5f5;*/
  background: #F5F5F5;
}

section.contraste_even {
  padding-top: 20px;
  background: #981A21;
  color: #FBE8E7;
  text-align: right;
}

section.contraste_even a {
  color: #fff;
}

/* Estilos propios del curso */
body.curso {
  font-size: 1.1em;
}

body.curso h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

body.curso header h1 {
  font-size: 54px;
  margin-top: 60px;  
  color: #FBE8E7;
  font-family: helvetica-neue,helvetica,verdana,arial,san-serif;
  font-weight: normal;
}

.text_center {
  text-align: center;
}

footer {
  background: #EC3C3C;;
  color: #fbe8e7;
  padding-top: 20px;
  font-size: .9em;
  margin-top: 20px;
  position: relative;
  bottom: 0px;
}

/* Row Fixing */

.row {
     margin-left: 0px;
     margin-right: 0px;
}

/* logo */

.logo {
    margin: 0 auto;
}

#logo {
    /*background: #981A21;*/
    /*padding: 20px 0;*/
}






h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}

@media(min-width:767px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}

a {
  color: #1f4884;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #176e61;
}

.light {
  font-weight: 400;
}

.navbar {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255,255,255,.3);
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #000;
}

.navbar-brand {
  font-weight: 700;
}

.navbar-fixed-top {
background-color: crimson !important;
}

.navbar-brand:focus {
  outline: 0;
}

.navbar-custom a {
  color: #fff;
}

.navbar-custom .nav li a {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
  outline: 0;
  background-color: #f05454 !important;
}

.navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
  outline: 0;
}

@media(min-width:767px) {
  .navbar {
    padding: 10px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .top-nav-collapse {
    padding: 0;
    background-color: #000;
  }

  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255,255,255,.3);
  }
}

.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: image-url("tickets-im.jpg") no-repeat top center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro-body {
  display: table-cell;
  vertical-align: middle;
}

.brand-heading {
  font-size: 40px;
}

.intro-text {
  font-size: 18px;
}

@media(min-width:767px) {
  .intro {
    height: 100%;
    padding: 0;
  }

  .brand-heading {
    font-size: 100px;
  }

  .intro-text {
    font-size: 25px;
  }
}

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #fff;
  border-radius: 35px;
  font-size: 40px;
  color: #fff;
  background: 0 0;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
  outline: 0;
  color: #fff;
  background: rgba(255,255,255,.1);
}

.page-scroll .btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

.content-section {
  padding-top: 100px;
}

.about-section {
  width: 100%;
  padding: 50px 0;
  color: #fff;
  background: image-url("about-bg.jpg") no-repeat center center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#map {
  width: 100%;
  height: 175px;
  margin-top: 75px;
}

@media(min-width:767px) {
  .content-section {
    padding-top: 150px;
    padding-bottom: 100px;
  }

}

.btn {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-default {
  border: 1px solid #1f4884;
  color: #1f4884;
  background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
  border: 1px solid #1f4884;
  outline: 0;
  color: white;
  background-color: #dc143c ;
}

.btn-huge {
  padding: 25px;
  font-size: 26px;
}

@media(max-width:1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media(max-width:767px) {
  ul.banner-social-buttons>li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.banner-social-buttons>li:last-child {
    margin-bottom: 0;
  }
}

::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255,255,255,.2);
}

::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255,255,255,.2);
}

img::selection {
  background: 0 0;
}

img::-moz-selection {
  background: 0 0;
}

body {
  webkit-tap-highlight-color: rgba(255,255,255,.2);
}

.welcome {
  background-color: rgba(227, 225, 220, 0.35) !important;
  border-radius: 25px;
}

.navbar {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 13px 55px 4px;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
background-color: #FF3535;
}
/*
#contact-form {
width: 70%;
margin: auto;
}*/

.no-margin {
  margin: 0;
}

.container.main {
margin-top: 90px;
}

#thanks p {
margin: 0 !important;
}

#blog p {
margin: 0 !important;
}

#credits {
  padding-bottom: 0px;
}

.mensaje-enviado {
background-color: ivory;
padding: 35px 10px 10px 10px;
}