<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="/favicon.png"> 
    <link href="/assets/stylesheets/reset.css" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/assets/stylesheets/bootstrap.min.css" type="text/css"/>
    <link href="/assets/stylesheets/style.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/assets/stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    {% include meta-and-analytics.html %}

  </head>
  <body id="page-top" data-spy="scroll" data-target=".navbar-custom">
    <header>

      {% include nav.html %}


    </header>

    <div class="container main">
        {% include top-section.html %}
        {{ content }}
    </div>


      <!-- Javascript Files -->
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/assets/js/script.js"></script>

  </body>
</html>
