<!DOCTYPE HTML>

<html>
  <head>
    {% include html-head.html %}
  </head>
  <body class='body_post' id="page-top" data-spy="scroll" data-target=".navbar-custom">
    <header>
      {% include nav-posts.html %}
    </header>

    <div class='container post'>
      <div class='col-md-12'>
        <div id="post">
          <div class="content">

            <div class="titulo">
              <h1>{{ page.title }}</h1>
              <span class="date">{{ page.date | date: "%B %e, %Y" }}</span>
            </div>
            
            {{ content }}

            {% include credits-section.html %}
          </div>
        </div>
      </div>
    </div>

    <div class='container comment-board'>
      <div class='col-md-12'>
        {% include disqus.html %}
      </div>
    </div>

      <!-- Javascript Files -->
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/assets/js/script.js"></script>

  </body>
</html>
